*.dylib
*.dll
*.so

*cronet*
/bin/*
!/bin/.gitkeep
.build
.idea
cert
data
**/*.log
.DS_Store

**/*.syso
node_modules
*.db
*.json

# Local dev scratch (not prod)
hiddify-sing-box/_acktest/
hiddify-sing-box/_stack.txt
hiddify-sing-box/sing-box